body{
    background: linear-gradient(to right,hsl(337, 100%, 58%),hsl(320, 100%, 58%));
    
}
.headline{
    position: absolute;
  text-align: center;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    width: 100%;
    margin: 0%;
    height: 100%;
    
}
p{
    position: absolute;
    text-align: center;
      top: 32%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  
}
img{
    position: absolute;
  text-align: center;
    top: 19%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    

}
.name{
    position: absolute;
    text-align: center;
    top: 42%;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height:35px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-width: 2px;
    border-radius: 25px;
    border-color: rgb(235, 64, 129) ;
    border-style: solid;
}
.select{
    position: absolute;
    text-align: center;
    top: 50%;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height:35px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-width: 0px;
    border-radius: 25px;
    border-color: rgb(235, 64, 129) ;
    border-style: solid;
    background: linear-gradient(to right,hsl(184, 100%, 58%),hsl(310, 100%, 58%)) ;
    color: white;
}
#reset{
    
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    margin-top: -2%;
    width: 150px;
    height:35px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-width: 0px;
    border-radius: 25px;
    border-color: rgb(235, 64, 129) ;
    border-style: solid;
    background: linear-gradient(to right,hsl(184, 100%, 58%),hsl(310, 100%, 58%)) ;
    color: white;
}
.select :hover{
    width: 155px;
    height:40px;

} .result{
    position: absolute;
    text-align: center;
    top: 84%;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    height:460px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-width: 0px;
    border-radius: 25px;
}
.result li{
    padding: 10px;
}
.lmao{
    position: absolute;
    text-align: center;
    top: 115%;
    opacity: 0;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height:400px;
}